.button-border-top {
  border-top-style: solid;
  border-top-width: 2px;
}

.button-border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.input-range-reset {
  appearance: none;
  padding: 0; /* Firefox */
}

.lh-2 {
  line-height: 2rem;
}

.pointer-events-none {
  pointer-events: none;
}

.transform-origin-left {
  transform-origin: left;
}
